header {
	position: relative;
	z-index: 10;
	width: 100%;
	background: var(--bg-primary);
	box-shadow: 0 2px 8px 0 var(--shadow);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}
